<%= turbo_frame_tag "group_#{group.id}" do %>
 <div class= "blockBasicStyle tile tileText">
    <iconify-icon icon="tabler:edit" width="24" height="24"></iconify-icon>
    <span class="tileFill">
    <%= link_to group.name, group_words_path(group), data: { turbo_action: 'replace', turbo_frame: 'words' }%>
    </span>
    <iconify-icon icon="material-symbols:delete-outline" width="24" height="24"></iconify-icon>
    <iconify-icon icon="typcn:arrow-right-outline" width="24" height="24"></iconify-icon>
  </div>
<% end %>
