<%= turbo_frame_tag "word#{word.id}" do %>
    <div class= "blockBasicStyle tile tileText">
        <iconify-icon icon="tabler:edit" width="24" height="24"></iconify-icon>
        <span class="tileFill">
        <%= word.name %>
        </span>
        <iconify-icon icon="material-symbols:delete-outline" width="24" height="24"></iconify-icon>
    </div>
<% end %>
