<%= stylesheet_link_tag 'tests', media: 'all' %>

<h2> Your tests </h2>

<div class="testsDisplay">
<div class="testsDisplayInner">
<% if @tests%>
    <% if @tests.length>0 %>
        <% @tests.each do |test| %>
            <%= link_to "#{test.groups[0].name} test",  url_for(controller: 'performances', action: 'show', id: test.id) %>
        <% end %>
    <% end %>
<% end %>
</div>
</div>